.knap img{
    height: 20px;
    cursor: pointer;
    padding: 3px;
}


.button{
    background-color: transparent;
    border: 0;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; 
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.modal-content{
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    max-width: 300px;
    box-shadow: 0 2px 4px 0;
    animation-name: modalopen;
    animation-duration: 0.5s;
}

.closeBtn{
    float: right;
    font-size: 25px;
}

.closeBtn:hover,.closeBtn:focus{
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}
  
.select-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Orgon-regluar',sans-serif;
  }
  
.select-box .options-container {
    background: #f1f1f1;
    color: #000000;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 4px;
    overflow: hidden;
    
    order: 1;
  }

.selected {
    background: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
    border-radius: 4px;
    margin-bottom: 8px;
    color: #000000;
    position: relative;
  
    order: 0;
  }

  .selected::after {
    content: "";
    background: url("/Assets/Ikoner/arrow.svg");
    background-size: 15px;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 5px;
    top: 18px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -18px;
  }
  
.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
.select-box .option:hover {
    background: #D7EAD9;
  }
  
.select-box label {
    cursor: pointer;
  }
  
.select-box .option .plante {
    display: none;
  }

.gemBtn {
    border: 0;
    margin: 20px auto;
    border-radius: 4px;
    background: #008559;
    color: #D7EAD9;
    width: 100%;
    font-size: 16px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.3s;
}

