@font-face {
  font-family: 'orgon';
  src: url('Assets/Orgon-fonts/Orgon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "orgon";
  src: url('Assets/Orgon-fonts/Orgon-Regular.ttf') format('truetype');
}

:root {
/* Sektion str & afstand*/ 
  --margin-in: auto;
  --width-sec: 80%; 
  --h2-top:2.5rem;
  --h2-bot:2rem;
  
  /* Typografi */ 
  --var-h: 'Orgon-bold', sans-serif;
  --var-base:'Orgon-regluar',sans-serif;

  /* Typografi str*/ 
  --var-h2:2rem; /* Overskrift */ 
  --var-h3:1.5rem; /* Underoverskrift,knapper,dropdown & notifikation */ 
  --var-p:1.2rem; /* Indholdstekst & Dato notifiktaion */ 

  /* Farver */ 
  --pri-clr:#008559;
  --txt-clr:black;
  --bg-clr:#FAFAFA;

  /* Accentfarver for knapper på værdier */ 
  --var-btn1:#D7EAD9;
  --var-btn2:#FFD295;
  --var-btn3:#FFF6AF;
  --var-btn4:#EBE2EA;
  --var-btn5:#D7E8F1;
  --var-btn6:white;

  /* Box shadow */ 
  --var-boxs-btn:rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --var-boxs-noti: rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}

/* Styling på layout generelt */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr);
}

section {
  width: var(--width-sec);
  margin-inline: var(--margin-in);
}

.menu-top {
  width: var(--width-sec);
  margin-inline: var(--margin-in);
}

h1,h2 {
  font-family: var(--var-h);
  color: var(--pri-clr);
}
a,label {
  text-decoration: none;
  color: black;
  font-family: var(--var-base);
}
p,h4{
  font-family: var(--var-base);
  font-weight: 400;
}

h3 {
  font-family: var(--var-h);
}
 
h2 {
  font-size: var(--var-h2);
  margin-top: var(--h2-top);
}

/* Ikoner størrelse */
img {
height: 1.5rem;
}

.xikon-noti {
  height: 1rem;
}

/* Login */
.login-sec {
  width: var(--width-sec);
}

.whitebg {
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.greenbg {
  background-color: #008559;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greenbg img {
  height: 100px;
}

.login {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: none;
  box-shadow: var(--var-boxs-btn);
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background-color: var(--pri-clr);
}

.loginbtn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--pri-clr);
  color: var(--var-btn1);
}

.login-pass  {
display: flex;
justify-content: center;
font-size: 0.8rem;
margin-top: 10px;
color: black;
}

/* Menu top */
.menu-top {
display: flex;
justify-content: space-between;
margin-top: 2rem;
}

/* Top menu index */
.menu-top-index {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  width: var(--width-sec);
  margin-inline: var(--margin-in);
  }

/* Menu bund */
header {
  display: flex;
  justify-content: center;
}

.menu-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  height: 60px;
  padding: 0 2rem;
  background-color: white;
  z-index: 1;
  box-shadow: var(--var-boxs-btn);
}

.menu-bottom img {
  height: 1.7rem;
}

.menu-bottom > a:nth-child(3) img {
  height: 1.3rem;
}


/* Underoverskrift - Overblik, DH1, DH1-M1 & DH1-M1-H1 */
.h4-txt {
  display: flex;
  gap: 15px;
  margin-bottom: var(--h2-bot);
}

.h4-txt img {
  height: 1rem;
}

/* Knap Drivhus, Modul & Hylder */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-btn {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 5px;
  cursor:pointer;
  background-color: var(--var-btn6);
  box-shadow: var(--var-boxs-btn);
}

.container-btn p {
  font-size: var(--var-p);
}

.dh-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.ikonbtn {
padding: 0 5px;
cursor: pointer;
}

.txt-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Notifikationer */ 
.container-noti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  border-radius: 5px;
  cursor:pointer;
  background-color: var(--var-btn6);
  box-shadow: var(--var-boxs-noti);
  gap: 5px;
  padding-inline-start: 30px;
  padding-inline-end: 10px;
  position: relative;
}

.container-noti-x {
display: flex;
justify-content: space-between;
}


.container-noti-ikon {
  display: flex;
  gap: 15px;
  margin-top: 1.5rem;
}

.container-clr1 {
  width: 20px;
  height: 120px;
  background-color: var(--var-btn1);
  position: absolute;
  top: 0px;
  left: 0px;
}

.container-clr2{
  width: 20px;
  height: 120px;
  background-color: var(--var-btn2);
  position: absolute;
  top: 0px;
  left: 0px;
}

.container-clr3{
  width: 20px;
  height: 120px;
  background-color: var(--var-btn4);
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Pop up menu */
.menu{
  position: relative;
  transition: transform 0.1s;
  padding-top: 1.5rem;
  height: 80vh;
  background-color: var(--bg-clr);
  box-shadow:rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#menuItems {
  display: none;  
}

.hamburger{
  background-color: transparent;
  border: 0;
  z-index: 100;
  padding: 4px;
  cursor: pointer;
}

.showMenu {
  transform: translateY(0);
}

.closeIcon{
  display: none;
}

.popup-menu {
  display: none;
  flex-direction: column;
  align-items: center;
}

.popup-menu img {
  height: 35px;
}

.log-details {
  display: flex;
  width: var(--width-sec);
  margin-inline: var(--margin-in);
  gap: 15px;
  margin-top: var(--h2-top);
  margin-bottom: var(--h2-bot);
}

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  cursor:pointer;
  background-color: var(--var-btn6);
  box-shadow: var(--var-boxs-btn);
  height: 25vh;
  margin-bottom: var(--h2-bot);
  width: 80%;
  margin-inline: var(--margin-in) ;
}

.container-menu img {
  height: 7px;
  transform: rotate(270deg);
}

.menubtn {
  width: var(--width-sec);
  border: none;
  border-radius: 10px;
  height: 40px;
  background-color: var(--pri-clr);
  color: var(--var-btn1);
  font-size: var(--var-base);
}

/* Hylde data side */ 
.h2-data {
  color: var(--txt-clr);
  margin-bottom:1.2rem;
}

.container-data {
  display: flex;
  gap:15px;
  position: relative;
}

.x-container {
position: absolute;
right: 0;
}

.h4-container {
  margin-left: 27px;
  font-size: 14px;
}

.containerbtn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 1.2rem;

}

.data-btn {
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.data-btn:focus {
  font-weight: bold;
}

.clr1 {
  background-color: var(--var-btn1);
}

.clr2 {
  background-color: var(--var-btn2);
}

.clr3 {
  background-color: var(--var-btn3);
}

.clr4 {
  background-color: var(--var-btn4);
}

.clr5 {
  background-color: var(--var-btn5);
}

/* Dropdown */
.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown {
  width: 100%;
  border: none;
  background-color: white;
  height: 35px;
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: var(--var-boxs-btn);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.dropdown img {
height: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2.3rem;
  left: 2.3rem;
  background-color: #f9f9f9;
  width: 70%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Søgefilter */
.filter {
  display: flex;
  gap: 5px;
}

#save-button {
  border: none;
  width: 5rem;
  height: 1.5rem;
  background-color: var(--pri-clr);
  color: var(--var-btn1);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

#filter-seachbox {
  display: none;
  position: absolute;
  top: 80px;
  right: 30px;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#filter-seachbox h4 {
  margin-bottom: .5rem;
}

#button-click {
  cursor: pointer;
  position: relative;
}



/* Responsivt Tablet */ 
@media(min-width:768px) {

  .menu-bottom {
    padding: 0 4.8rem;
  }
  
  .containerbtn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 370px;
  }

  .data-web {
    display: flex;
    gap: 20px;
}

.dropdown {
  width: 300px;
}

#filter-seachbox {
  right: 60px;
}

}

/* Responsivt web */ 
@media (min-width:1024px) {
  
  .menu-bottom {
    padding: 0 9rem;
  }
  .container-btn {
    max-width: 60%;
  }

  .container-noti {
    max-width: 60%;
  }

  .containerbtn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 370px;
  }

  .data-web {
    display: flex;
    gap: 20px;
}

  .dropdown {
  width: 300px;
}

  .login {
  max-width: 300px;
}

  .greenbg img {
  height: 120px;
}
  .venstrepil {
  display: none;
}

  #filter-seachbox {
  right: 140px;
}


.container-menu {
width: 60%;
margin-right: 27rem;
}

.menubtn {
  width: 60%;
  margin-right: 18.5rem;
}
}