.knap img{
    height: 20px;
    cursor: pointer;
    padding: 3px;
}

.knap{
}


.button{
    background-color: transparent;
    border: 0;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content{
    background-color: whitesmoke;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 2px 4px 0;
    animation-name: modalopen;
    animation-duration: 1s;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 25px;
}

.closeBtn:hover,.closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}

}
.contact-form-knap, #betaling-knap {
    border: 0;
    width: 50%;
    background: black;
    color: white;
    font-size: 14px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 50px;
}