@font-face {
  font-family: 'orgon';
  src: url('Orgon/Orgon-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "orgon";
  src: url('Orgon/Orgon-Regular.ttf') format('ttf');
}

:root {
/* Sektion str & afstand*/ 
  --margin-in: auto;
  --width-sec: 80%; 
  --h2-space: 1rem ;

  /* Typografi */ 
  --var-h: 'Orgon-bold', sans-serif;
  --var-base:'Orgon-regluar',sans-serif;

  /* Typografi str*/ 
  --var-h2:2rem; /* Overskrift */ 
  --var-h3:1.5rem; /* Underoverskrift,knapper,dropdown & notifikation */ 
  --var-p:1rem; /* Indholdstekst & Dato notifiktaion */ 

  /* Farver */ 
  --heading-clr:#008559;
  --txt-clr:black;
  --bg-clr:#FAFAFA;

  /* Accentfarver for knapper på værdier */ 
  --var-btn1:#D7EAD9;
  --var-btn2:#FFD295;
  --var-btn3:#FFF6AF;
  --var-btn4:#EBE2EA;
  --var-btn5:#D7E8F1;
  --var-btn6:white;

  /* Box shadow */ 
  --var-box-s:rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr);
}

section {
  width: var(--width-sec);
  margin-inline: var(--margin-in);
}

h1,h2 {
  font-family: var(--var-h);
  color: var(--heading-clr);
}
a {
  text-decoration: none;
  color: black;
}
p,h4,h3 {
  font-family: var(--var-base);
  font-weight: 400;
}

h2 {
  font-size: var(--var-h2);
  margin-top: var(--h2-space);
}

/* Menu top */
.menu-top {
display: flex;
justify-content: space-between;
margin-top: 2rem;
}

/*Forskellige top fra index og andre sider */
.menu-top-index {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  }

.h4-txt {
  display: flex;
  gap: 10px;
}

/* Menu bund */
header {
  display: flex;
  justify-content: center;
}

.menu-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 80%;
  background-color: white;
}

/* Knap Drivhus, Modul & Hylder */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-btn {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 5px;
  cursor:pointer;
  background-color: var(--var-btn6);
  box-shadow: var(--var-box-s);
}

.dh-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.ikonbtn {
padding: 0 5px;
cursor: pointer;
}

.txt-btn {
  display: flex;
  flex-direction: column;
}





